<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Forum Web app</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
<<<<<<< HEAD
	<div class="container">
		<%= yield %>
	</div>
=======
	<%= yield %>
>>>>>>> f6ee3b1423c7ffffd790ced407877f3c6ecd7db7

</body>
</html>