<<<<<<< HEAD
<h1>Topics:</h1>
<table class="table table-bordered table-hover">
	<% @posts.each do |post| %>
		<tr>
		<th><a href="/post/<%= post['id'] %>" class="text-muted"><%= post['topic'] %> <span class="glyphicon glyphicon-book
"></span> </a></th>
		</tr>	
	<% end %>
</table>
=======
<h1><%= @posts %></h1>
>>>>>>> f6ee3b1423c7ffffd790ced407877f3c6ecd7db7
